@use '../base/base';

.footer {
    background-color: rgba(200, 230, 255, 0.9);
    justify-content: center;
    border-top: 1px solid #2f2f2f;
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.footer-container {
  padding: 0 1em;
  align-self: center;
  max-width: 1000px;
}

.footer-content {
  columns: 200px 3;
  column-rule: black 1px solid;
  column-gap: 2em;
  padding-bottom: 2em;
}

.footer-content{
  a, p {
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    padding-bottom: 0.2rem;
  }
}

.logo {
  margin-left: 0.5rem;
}
