.card-text {
    vertical-align: top;
    display: inline-block;
    max-width: 500px;
    margin-bottom: 2rem;

    &.max {
        max-width: max-content;
    }
}


@media (max-width: 1020px) {
    .card-text {
        max-width: max-content;
    }
}