@import '../abstracts/colors';

.card {
    background-color: $content-background;
    margin: 0 0 1rem 0;
    padding: 1rem;
    color: inherit;
    text-decoration: none;
    border: 1px solid #2f2f2f;
    border-radius: 2px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    vertical-align: top;
    width: 100%;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card-text,
.card-images {
    vertical-align: top;
    display: inline-block;
    max-width: 50%;
    margin-bottom: 0.4rem;
}

.card-image-container {
    max-height: 100vh;
    border-radius: 50%;
    display: inline-block;

    .image {
        object-fit: contain;
        width: 100%;
        position: relative;
        height: unset;
    }
}

.card-text, 
.card-image-container, 
.flight-visualization,
.card-images {
    &.max {
        max-width: max-content;
    }
    &.bigger {
        max-width: 70%;
    }
    &.smaller {
        max-width: 30%;
    }
}

@media (max-width: 1020px) {
    .card {
        flex-direction: column;
    }

    .card-text {
        max-width: 100%;
        max-height: 100%;


    }

    .card-image-container {
        align-self: center;
        max-width: 100%;
        max-height: 100%;
    }

    .card-images {
        max-width: 100%;
        display: row;
    }

    .card-images,
    .card-text,
    .card-image-container {
        &.smaller, &.bigger {
            max-width: 100%;
        }
    }
}