@import 'abstracts/variables';
@import 'abstracts/colors';
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  color: $dark;
  font-family: 'Fredoka', sans-serif;
  background-position: bottom left;
}

html {
  background-image: url('/background.webp');
  background-size: cover;
}

@media (max-width: 1020px) {
  html {
    background-image: repeating-linear-gradient(-20deg, $lake-blue, darken($lake-blue, 6) 10%, $lake-blue 16%);
  }

}

// * {
//   outline: solid 1px red;
// }
